
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.png">

    <title>Save History - An App to save your terminal history</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://getbootstrap.com/assets/js/html5shiv.js"></script>
      <script src="http://getbootstrap.com/assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="../static/assets/css/carousel.css" rel="stylesheet">

    <link href="../static/assets/css/bootstrap-glyphicons.css" rel="stylesheet">

    <style type="text/css">
        #title {
            color: white;
            text-align: center;
            font-size: 4em;
            /*padding-bottom: 10%;*/
        }

        h2 {
            font-size: 2.5em;
        }

        .row p{
            font-size: 1em;
        }

        .marketing {
            background-color: #f6f6f6;
        }

        .carousel {
            background-color: #f6f6f6;
            margin-bottom: 0px;
        }

        body {
            background-color: #f6f6f6;
        }

    </style>
    
  </head>
<!-- NAVBAR
================================================== -->
  <body>
     <div class="navbar-wrapper">
       <div class="container">

<!-- 
        <div class="navbar navbar-inverse navbar-static-top" id='navbar'>
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Save History</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div> -->

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
<!--       <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol> -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="../static/img/sl.gif" alt="First slide" id='sl-image'>
          <div class="container">
            <div class="carousel-caption">
            <div>
                <h1 class='hero' id='title'><i>Save</i>History.</h1>
            </div>

              <h1>Save ALL the History</h1>
              <p>Can't remember that command that you ran a couple of months ago? You need <i>Save</i>History. All your terminal history, from all your terminals saved in one easy place.</p>
              <p><a class="btn btn-lg btn-success" href="#">Sign up now for the beta!</a></p>
            </div>
          </div>
        </div>
        <!-- <div class="item"> -->
<!--           <img src="data:image/png;base64," data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Second slide" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Easy, fast, searchable</h1>
              <p>One easy place to search all your past terminal histoy, from anywhere. Fast search for all those commands that you rarely use in a simple web interface</p>
              <p><a class="btn btn-large btn-primary" href="#">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/png;base64," data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
            </div>
          </div>
        </div> -->
      </div>
<!--       <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> -->
    </div><!-- /.carousel -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <hr class="featurette-divider"  id='feature1'>
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <i class="glyphicon glyphicon-book btn-lg"></i>
          <h2>Record ALL the history</h2>
          <p>Single web service to record and search all your history, from all your terminals in one place.</p>
          <!-- <p><a class="btn btn-default" href="#feature1">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <i class="glyphicon glyphicon-cog btn-lg"></i>
          <h2>Setup, the way it should be.</h2>
          <p>Easy setup, local configuration with a simple Unixy utility that does one thing and gets out of your way.</p>
          <!-- <p><a class="btn btn-default" href="#feature2">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <i class="glyphicon glyphicon-search btn-lg"></i>
          <h2>Local Search</h2>
          <p>Command line utility to search the remote history. Get all the history right where you need it.</p>
          <!-- <p><a class="btn btn-default" href="#feature3">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Plank &amp; Whittle, Inc. &middot;</p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/assets/js/jquery.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/holder.js"></script>

  </body>
</html>
